<template id="membershipModal">

  <dialog id="modal_membership" class="dialog">
    <span _="on load call app.helpers.loadMembershipModal()"></span>
    <div class="flex justify-end">
      <button _="on click call #modal_membership.close()" class="cross-btn">X</button>
    </div>
    <div class="relative h-full">
      <div class="absolute inset-0 overflow-y-auto p-2">
        <header class="max-w-lg mx-auto">
          <h2 class="text-center" data-trans="membership_modal_title"></h2>
          <div class="text-center italic text-sm" data-trans="membership_modal_desc"></div>
        </header>
        <form id="membership_form"
          class="flex flex-col gap-3 sm:grid sm:grid-cols-2 p-3 max-w-lg mx-auto overflow-y-auto"
          _="on submit halt the event">

          <fieldset>
            <label required for="membership_name" data-trans="name"></label>
            <input type="text" required id="membership_name" name="name">
          </fieldset>
          <fieldset>
            <label required for="membership_lastname" data-trans="lastname"></label>
            <input type="text" required id="membership_lastname" name="lastname">
          </fieldset>
          <fieldset class="col-span-2">
            <label required for="membership_email" data-trans="email"></label>
            <input type="email" required id="membership_email" name="email">
          </fieldset>
          <fieldset class="col-span-2">
            <label for="membership_discord" data-trans="discord_pseudo"></label>
            <input type="text" id="membership_discord" name="discord_pseudo">
          </fieldset>
          <fieldset class="col-span-2">
            <label required for="membership_address" data-trans="address"></label>
            <input type="text" id="membership_address" name="address" required>
          </fieldset>
          <fieldset>
            <label required for="membership_postal_code" data-trans="postal_code"></label>
            <input type="text" id="membership_postal_code" name="postal_code" required _="
                on change
                if me.value
                toggle .opacity-50 on #membership_city
                set #membership_city.value to '...'
                call app.helpers.getBano(me.value)
                then
                if result.length > 0
                then log result[0] set #membership_city.value to result[0].city
                toggle .opacity-50 on #membership_city
                end
            ">
          </fieldset>
          <fieldset>
            <label required for="membership_city" data-trans="city"></label>
            <input type="text" id="membership_city" name="city" required>
          </fieldset>

          <fieldset class="col-span-2 membership-renewal-fieldset">
            <input type="checkbox" id="membership_renewal" name="renewal" value="1" class="membership-renewal-checkbox">
            <label for="membership_renewal" data-trans="membership_renewal" class="font-bold cursor-pointer"></label>
          </fieldset>

          <div id="membership_paypal-buttons" class="flex col-span-2 mt-4"></div>
        </form>
      </div>
    </div>
  </dialog>

</template>
