<div class="grid grid-rows-[auto_1fr] gap-3 bg-sl-bg h-[100dvh]" id="page">

  <main class="flex flex-col gap-4 p-10 mb-3 relative h-full">
    <div class="absolute inset-0 overflow-y-auto p-6">
      <header class="mb-5">
        <h1 data-trans="support_title" class="text-center text-3xl uppercase"></h1>
        <div data-trans="support_subtitle" class="text-center text-sl-primary"></div>
      </header>

      <section class="flex justify-center flex-wrap gap-5 md:grid md:grid-cols-2 max-w-md mx-auto">

        <article
          class="border-2 border-sl-primary p-3 rounded flex flex-col items-stretch justify-between h-full gap-4 bg-white transition-all hover:scale-105">

          <div class="flex flex-col gap-3">
            <h2 class="text-center text-xl" data-trans="gear_title"></h2>
            <div data-trans="gear_desc" class="text-sm border-t border-b border-gray-300 py-5"></div>
          </div>
          <div class="flex items-center justify-center">
            <button class="btn" data-trans="btn_gift" _="on click call #modal_gear.showModal()"></button>
          </div>

        </article>

        <article
          class="border-2 border-sl-primary p-3 rounded flex flex-col items-stretch justify-between h-full gap-4 bg-white transition-all hover:scale-105">
          <div class="flex flex-col gap-3">
            <h2 class="text-center text-xl" data-trans="money_title"></h2>
            <div data-trans="money_desc" class="text-sm border-t border-b border-gray-300 py-5"></div>
          </div>
          <div class="flex items-center justify-center">
            <button class="btn" data-trans="btn_gift" _="on click call #modal_money.showModal()"></button>
          </div>
        </article>

      </section>

      <h3 data-trans="faq_title" class="text-center mt-7 uppercase text-3xl font-FjallaOne"></h3>
      <section class="text-center mt-5 flex flex-col gap-3 max-w-xl mx-auto" id="faq">
      </section>
    </div>
  </main>

</div>

<span _="
  -- inject templates in the DOM, translate the page to the end, after the injection
  on load call app.helpers.injectTemplate('gearModal') 
  then put result after me 

  call app.helpers.injectTemplate('moneyModal') then put result after #modal_gear
  call app.helpers.injectFaq() then put result into #faq
  call app.helpers.injectTemplate('header') then put result at the start of #page 

  call app.helpers.translate()
  " class="fixed">
</span>