<div class="grid grid-rows-[auto_1fr] gap-3 bg-sl-bg h-[100dvh]" id="page">

  <main class="flex flex-col gap-4 p-10 mb-3 relative h-full">
    <div class="absolute inset-0 overflow-y-auto p-6">
      <div class="flex flex-col text-xl gap-3 justify-center items-center text-sl-primary">

        <h1 class="text-3xl uppercase text-black" data-trans="thanks_title"></h1>
        <div class=" text-black text-center " data-trans="contact_soon"></div>
        <a href="https://mo5.com" data-trans="back_to_mo5"></a>
        <a href="/" data-trans="back_to_donation"></a>

      </div>
    </div>
  </main>

</div>

<span _="
  -- inject templates in the DOM, translate the page to the end, after the injection
  on load 
  call app.helpers.injectTemplate('header') then put result at the start of #page 
  call app.helpers.translate()
  " class="fixed">
</span>